# Laravel
.phpunit.result.cache
/.phpunit.cache
/public/build
/public/hot
/public/storage
/public/vendor
vendor

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
/.DS_Store
/.fleet
/.idea

# Local env files
.env